# data "terraform_remote_state" "${tf_name}" {
#   backend = "http"
#
#   config = {
#     address = var.state_remote_host
#     username = var.state_username
#     password = var.state_access_token
#   }
# }